.question-item {
  width: 98%;
  text-align: center;
  font-size: 40px;
  overflow-y: auto;
}

.question {
  font-size: 30px;
}

.questionText {
  color:white;
  font-size: 20px;
}
.questionText:hover {
  color:white;
}
.genreQuestionText {
  color:white;
  font-size: 20px;
  background-color: #625f5f;
  border-radius: 15px;
  padding: 0.2vw 0.8vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  vertical-align: middle;
}
.genreQuestionText:hover {
  font-weight: bold;
}

img{
  max-width: 35vw;
  max-height: 35vh;
}

.mode-choices-list {
  display: flex;
  flex-flow: wrap row;
  overflow-y: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 8vh 10vw 20vh;
}

.choices-list {
  display: flex;
  flex-flow: nowrap row;
  overflow-y: hidden;
  flex-direction: row;
  justify-items: center;
  padding-left: 25vw;
  padding-right: 25vw;
}

.genre-list {
  display: flex;
  overflow-y:hidden;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  padding: 10vh 12vw 10vw;
  justify-content: center;
}

label {
  display: block;
  text-align: center;
  font-size: 40px;
  width: 100%;
  height: 100%;
  padding: 0px 0 0;
}
label:hover {
  color:red;
}

.mode-choice {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;

  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  /*width: 100%;*/
  width: fit-content;
  height: 300px;
  margin: 0;
  padding-bottom: 15vh;
  padding-right: 2vw;
  padding-left: 2vw;
  /*padding: 50px 0 0;*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0);
}

.choice {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;

  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  width: 100%;
  height: 300px;
  margin: 0;
  padding: 50px 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0);
}

.genreChoice {
  /*box-sizing: inherit;*/
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;

  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0);
  margin-right: 1vw;
  margin-left: 1vw;
  align-items: center;
}

input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.choice img {
  width: auto;
  height: 300px;
}
.choice:hover {
  letter-spacing: 5px;
}
.choice:after,
.choice:before {
  backface-visibility: hidden;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.choice:hover:after,
.choice:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.choice:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.heart-radio-heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  transition: transform 0.1s ease-in-out;
}
